body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  color: rgb(58, 58, 58);
}

.grey-border {
  border: 2px solid #73828e;
  border-radius: 3px;
}

.middle-bit {
  border: 2px solid #73828e;
  border-radius: 3px;
}